In [1]:
#importing the necessary libraries
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
#lets first connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.naukri.com')
driver.get(url)

In [3]:
#searching the jobs for data analyst role in bangalore
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [4]:
#creating empty lists
job_titles=[]
company_name=[]
locations_list=[]
experience_list=[]

In [5]:
#extracting all tags having job titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#now extxracting the text from these tags
for i in titles:
    job_titles.append(i.text)

#extracting all tags having company name
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#extracting text from these tags
for i in companies:
    company_name.append(i.text)

#extracting all tags having location details
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#extracting the text from these tags
for i in locations:
    locations_list.append(i.text)
    
#extracting all tags having experience required list
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    experience_list.append(i.text)

In [6]:
#Now creating a dataframe
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_name[0:10]
jobs['experience_required']=experience_list[0:10]
jobs['location']=locations_list[0:10]
jobs

,title,company,experience_required,location
0,Data Analyst - SAP,Boston Scientific Corporation,3-5 Yrs,"Pune, Delhi, Bengaluru, Gurgaon"
1,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
2,Senior Data Analyst,Schneider Electric,2-5 Yrs,Bengaluru / Bangalore
3,Data Analyst,Shell India Markets Private Limited,5-8 Yrs,Bengaluru
4,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,5-9 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
5,Business / Data Analyst,IBM India Pvt. Limited,2-4 Yrs,Bengaluru
6,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,2-4 Yrs,Bengaluru
7,Intern Data Analyst,Outsource Big Data,0-1 Yrs,Bengaluru
8,NiFi Data Analyst,Capgemini Technology Services India Limited,4-6 Yrs,Bengaluru
9,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,4-6 Yrs,Bengaluru

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [7]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.naukri.com')
driver.get(url)

In [8]:
#searching the jobs for data scientist role in bangalore
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [9]:
#creating empty lists
job_titles=[]
company_name=[]
locations_list=[]
job_description=[]

In [10]:
#extracting all tags having job titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#now extxracting the text from these tags
for i in titles:
    job_titles.append(i.text)

#extracting all tags having company name
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#extracting text from these tags
for i in companies:
    company_name.append(i.text)

#extracting all tags having location details
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#extracting the text from these tags
for i in locations:
    locations_list.append(i.text)
    
#extracting all tags having jobs description
buttons=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for button in buttons[:10]:
    button.click()

In [11]:
url1=('https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bengaluru-bangalore-3-to-8-years-080221905947?src=jobsearchDesk&sid=16132189285466039&xp=1&px=1')
driver.get(url1)
description=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
job_description.append(description.text)

url2=('https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-080221900886?src=jobsearchDesk&sid=16132189285466039&xp=2&px=1')
driver.get(url2)
description=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
job_description.append(description.text)

url3=('https://www.naukri.com/job-listings-data-scientist-machine-learning-commerce-bu-blue-yonder-india-private-limited-bengaluru-bangalore-4-to-6-years-010221901825?src=jobsearchDesk&sid=16132189285466039&xp=3&px=1')
driver.get(url3)
description=driver.find_element_by_xpath("//div[@class='clearboth description']")
job_description.append(description.text)

url4=('https://www.naukri.com/job-listings-principal-data-scientist-machine-deep-learning-nlp-tensorflow-fidius-advisory-bengaluru-bangalore-8-to-13-years-070720900498?src=jobsearchDesk&sid=16132189285466039&xp=4&px=1')
driver.get(url4)
description=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
job_description.append(description.text)

url5=('https://www.naukri.com/job-listings-data-scientist-atos-syntel-private-limited-chennai-pune-mumbai-bengaluru-bangalore-12-to-18-years-220719001543?src=jobsearchDesk&sid=16132189285466039&xp=5&px=1')
driver.get(url5)
description=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
job_description.append(description.text)

url6=('https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-100221001125?src=jobsearchDesk&sid=16132189285466039&xp=6&px=1')
driver.get(url6)
description=driver.find_element_by_xpath("//div[@class='f14 lh18 alignJ disc-li']/ul")
job_description.append(description.text)

url7=('https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-090221006526?src=jobsearchDesk&sid=16132189285466039&xp=7&px=1')
driver.get(url7)
description=driver.find_element_by_xpath("//div[@class='f14 lh18 alignJ disc-li']/ul")
job_description.append(description.text)

url8=('https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-chennai-pune-delhi-ncr-mumbai-bengaluru-bangalore-hyderabad-secunderabad-kolkata-2-to-7-years-151220006902?src=jobsearchDesk&sid=16132816355289078&xp=8&px=1')
driver.get(url8)
description=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
job_description.append(description.text)

url9=('https://www.naukri.com/job-listings-data-scientist-and-senior-data-scientist-academic-operations-randstad-india-pvt-ltd-bengaluru-bangalore-2-to-5-years-080221007079?src=jobsearchDesk&sid=16132816355289078&xp=9&px=1')
driver.get(url9)
description=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
job_description.append(description.text)

url10=('https://www.naukri.com/job-listings-sr-analyst-data-scientist-mindtree-limited-bengaluru-bangalore-10-to-15-years-040221502130?src=jobsearchDesk&sid=16132816355289078&xp=10&px=1')
driver.get(url10)
description=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
job_description.append(description.text)

In [12]:
#full description of all jobs displayed as a single list
job_description

['Data Scientist - Data Mining/ Machine Learning/ Statistical Analysis\n\nRequirements :\n\n- 3-9 years of strong experience in data mining, machine learning, and statistical analysis.\n\n- BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Matlab, Python, etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.',
 'Roles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.',
 'Roles and Responsibilities\nUnder guidance, or independently, design and implement machine learning models by\nProcuring data from platform, client and public data sources\nImplementing data enrichment and cleansing routines\nImplementing features, preparing modeling data sets, feature selection, etc.\nEvaluating candidate models, selecting and reporting on test performance of final one\nEnsuring proper runtime deployment of models, and\nImplementing runtime monitoring of model inputs and performance in order to ensure continued model stability\nWork with product, sales and engineering teams helping shape up the final solution\nUse data to understand patterns, come up with and test hypothesis; iterate\nHelp prepare sales materials, estimate hardware requirements, etc.',
 "Job Description :\n- We are looking for a researcher who specializes in building personalization/recommender systems algorithm (ML APIs) for the applications mentioned above and work with our engineers to deploy them as scale.\nWhat you will do :\n- Apply your research expertise to build our ML-driven recommender system products, help us develop new solutions and unlock new directions, as well as analyse and optimise the systems we already. \n- You'll work closely with product teams and mentor them on best practices for modern ML, and keep the wider team informed on the state-of-the-art. In addition, you will be in a strategic position to influence future roadmaps for recommender system products.\n- Collaborate with a cross-functional agile team spanning user research, design, data science, product management, and engineering to build new product features that advance our mission to connect artists and fans in personalized and relevant ways.\n- Prototype new approaches and production-ize solutions at scale for our hundreds of thousands of active users. Help drive optimization, testing, and tools to improve quality.\nRequirements :\n- Master, Post-graduate or Ph.D. in computer science, machine learning, information retrieval, recommendation systems, natural language processing, statistics, math, engineering, operations research, or another quantitative discipline; or equivalent work experience.\n- Good theoretical grounding in core machine learning concepts and techniques.\n- Ability to perform comprehensive literature reviews and provide critical feedback on state-of-the-art solutions and how they may fit different operating constraints.\n- Experience with a number of ML techniques and frameworks, e.g. Natural Language Processing, Recommender Systems, sampling, linear regression, decision trees, SVMs, deep neural networks, etc.\n- Familiarity with one or more Deep learning software frameworks such as Tensorflow, PyTorch.",
 'Working experience in Artificial Intelligence, Python, R, Machine Learning\nExperience in data mining, Strong math skills (e.g. statistics, algebra)\nStrong programming skills in: R, Python and familiarity with Java, Scala, C - DB/NoSql - MongoDB, Neo4J, MySql. Cassandra, DynamoDB, Redshift\nExperience on Hadoop Map reduce, Pig, Hive, Mahout and Apache Spark, H20\nStrong experience in Data warehousing, ETL, BI (e.g. Tableau, Power BI) and Data Visualization tools (matplotlib, D3.js, Plotly.js, Shiny etc)\nExperience with Deep Learning tools Tensorflow, Theano, Caffe etc. - Elastic Search, NLP background and Machine Learning Platforms\nExperienced in deployment of High performance, Scalable Big Data Hadoop clusters and Web applications on cloud infrastructure (Azure, AWS, Bluemix etc)\nExperience in neural networks, regression, classification and clustering\nDeep industry knowledge on any of the following: Banking, Insurance, Retail Manufacturing\nDeep understanding of Statistical algorithms: Linear and Non-Linear models, classification problem, optimization techniques, Market mix models, A/B Testing and campaign management, Feature ranking/selection techniques, supervised/unsupervised learning, Collaborative filtering, Apriori Market Basket analysis, SVM, Gradient boosting, Survival analysis etc.\nTo help designing, innovating and building our next generation ML architecture\nFull time programming experience within an operation or technical department.\nIdentify valuable data sources and automate collection processes\nUndertake pre-processing of structured and unstructured data\nAnalyze large amounts of information to discover trends and patterns\nBuild predictive models and machine-learning algorithms\nCombine models through ensemble modelling\nPresent information using data visualization techniques\nPropose solutions and strategies to business challenges\nCollaborate with engineering and product development teams\nMentor others in the use of AI/Machine Learning',
 'BE or MS or PhD degree in Computer Science, Artificial Intelligence, Machine Learning, or a related technical field.\nDeep learning experience with Tensorflow and Keras or Pytorch is must\nExperience with the following is preferred\nDifferent data processing libraries such as Numpy, Scipy, Pandas, Matplotlib, Scikit-learn\nExperience with one or more general purpose programming languages including but not limited to: Python (Must), R, Java, or C/C++.\nDifferent Networks CNN, RNN, LSTM, Transformer Based models, GAN, Reinforcement Learning\nFamiliarity with different model architectures AlexNetm, ResNet, MobileNet etc., in Computer Vision & BiLSTM, Bert family models.\nExperience with distribution strategies for data and model parallelism\nDevelopment of mobile applications with tensorflow (TF Lite)\nExperience in the development of End-to-end production based models. Cloud deployment of any machine learning models\nUnderstanding of advanced machine learning data pipelines components including Data Versioning, Code Versioning, Solution Versioning, Drift detection, Model Interpretability & Explainability.\nExperience with Structured Data Machine Learning techniques\nUsed AutoML techniques.\nWorked or knowledge on distributed computing example Spark.\nExperience with open source systems such as MLFlow, DVC, PyCaret, Prophet etc.',
 'BE or MS or PhD degree in Computer Science, Artificial Intelligence, Machine Learning, or a related technical field.\nDeep learning experience with Tensorflow and Keras or Pytorch is must\nExperience with the following is preferred\nDifferent data processing libraries such as Numpy, Scipy, Pandas, Matplotlib, Scikit-learn\nExperience with one or more general purpose programming languages including but not limited to: Python (Must), R, Java, or C/C++.\nDifferent Networks CNN, RNN, LSTM, Transformer Based models, GAN, Reinforcement Learning\nFamiliarity with different model architectures AlexNetm, ResNet, MobileNet etc., in Computer Vision & BiLSTM, Bert family models.\nExperience with distribution strategies for data and model parallelism\nDevelopment of mobile applications with tensorflow (TF Lite)\nExperience in the development of End-to-end production based models. Cloud deployment of any machine learning models\nUnderstanding of advanced machine learning data pipelines components including Data Versioning, Code Versioning, Solution Versioning, Drift detection, Model Interpretability & Explainability.\nExperience with Structured Data Machine Learning techniques\nUsed AutoML techniques.\nWorked or knowledge on distributed computing example Spark.\nExperience with open source systems such as MLFlow, DVC, PyCaret, Prophet etc.',
 'Roles and Responsibilities\n\nMust have strong Python Programming Skills\nStrong analytical & algorithm development skills\nLogical and Analytical skills must be really strong\nMust have worked in DeepLearning Efforts - Especially computer vision.\nMust have experinece with Object Detection - Custom model training for Object detection\nShould have experience with atleast one or more of these - Tensorflow, Keras, PyTorch\n\nPrimary Skills - Python + tensorflow - Keras / PyTorch, OpenCV\nPerks and Benefits\n\nKindly share your resume to kandavelkumar.lakshmanan @cesltd.com',
 "We are hiring Data Scientist and Senior Data Scientist Academic Operations for our leading EdTech Client.\n\n\n\nFill the google form - https://tinyurl.com/JobAppForm4\n\nJob Responsibilities:\nYour primary job responsibility will include (and not limited to):\nOwn the student's learning outcomes by providing them with support on the topics covered in the\ncurriculum.\nInvolve in the residency class room sessions to facilitate lectures and lab sessions\nBe the first point contact for participants for academic queries and manage discussion\ngroups\nMonitor participants academic performance and make learning interventions in the\nform of remedial sessions, coaching and mentoring\n\nCoordinate with faculty to create best in class learning material - video, reading material,\nassignments, exams\nDesign and conduct examinations to measure the learning outcome of participants\nIdentify & Solve interesting problems involving rich datasets in various domains.\nAccordingly, create capstone projects on the evolving use cases in the industry\nIdentify key emerging trends in the industry and maintain a rich reference material\nAssist program director and senior operations and academics managers in planning\non-campus sessions, preparing schedules, evaluation and grading\nIdentify key reporting metric sand create dashboards to enable quick decision making\nAutomation of manual data collection, data cleansing and exploratory data analysis\nCreate and maintain business and technical requirements\nIdentify technical solutions and perform feasibility analysis\nCreate technical roadmaps for the operations Team\nManage, identify and suggest processes for smoother program management to\nensure a consistent and trouble free learning experience\nCoordinate with IT and Admin to ensure smooth execution at various locations\nTravel to other cities if required to manage residencies\n\nRelevant Background:\nGraduate with an exceptional academic track record\nCompetency: (Top 3)\n1. Passion for learning and having great learning outcomes\n2. Ability to multitask and coordinate with multiple stakeholders\n3. Excellent knowledge in python, tableau and ML concepts",
 'Role Description:\nA Sr. Data Scientist who lead the development of analytics / machine learning / AI models for generating future prediction using data.\nResponsibilities : - Understanding the project requirement\n- Understand if there is any already existing ML model\n- Leading analytics project & provide necessary guidance to the team\n- Understand the data & doing EDA\n- Feature engineering - Building Data Science models\n- Validate & Piloting ML models\n- Model tuning & improvement\nRequired Skills:\n- Sound theoretical knowledge in ML algorithm and their application\n- Strong fundamental on statistics\n- Experience in leading multiple data science projects\n- Hands on experience on Machine learning / data science\n- Strong stakeholder management skills\n- Expert in Python - Hand on experience in SPARK Scala or PySpark\nAdded Advantage:\n- Hands on experience in Azure data bricks\n- Working experience in CPG domain\nSkills Required:\nDATA ANALYSIS, Machine learning, Python, Databricks']

In [13]:
#Now creating a dataframe
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_name[0:10]
jobs['location']=locations_list[0:10]
jobs['job_description']=job_description[0:10]
jobs

,title,company,location,job_description
0,Data Scientist/Data Analyst-immediate,Inflexion Analytix Private Limited,"Chennai, Pune, Bengaluru, Hyderabad",Data Scientist - Data Mining/ Machine Learning...
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,Roles and Responsibilities\nRequirements :\n\n...
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,"Roles and Responsibilities\nUnder guidance, or..."
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,Job Description :\n- We are looking for a rese...
4,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru","Working experience in Artificial Intelligence,..."
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru","BE or MS or PhD degree in Computer Science, Ar..."
6,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru","BE or MS or PhD degree in Computer Science, Ar..."
7,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",Roles and Responsibilities\n\nMust have strong...
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",We are hiring Data Scientist and Senior Data S...
9,Sr Data Scientist,Concentrix Daksh Services India Private Limited.,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",Role Description:\nA Sr. Data Scientist who le...

### Q3: In this question you have to scrape data using the filters available on the webpage

In [14]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.naukri.com')
driver.get(url)

In [15]:
#searching the jobs for data scientist role in bangalore
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [16]:
#applying filter for city
btn=driver.find_element_by_xpath("//span[@title='Delhi/NCR']")
btn.click()

In [17]:
#applying filter for salary
btn=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
btn.click()

In [18]:
#creating empty lists
job_titles=[]
company_name=[]
locations_list=[]
experience_list=[]

In [19]:
#extracting all tags having job titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#now extxracting the text from these tags
for i in titles:
    job_titles.append(i.text)

#extracting all tags having company name
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#extracting text from these tags
for i in companies:
    company_name.append(i.text)

#extracting all tags having location details
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#extracting the text from these tags
for i in locations:
    locations_list.append(i.text)
    
#extracting all tags having experience required list
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    experience_list.append(i.text)

In [20]:
#Now creating a dataframe
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_name[0:10]
jobs['experience_required']=experience_list[0:10]
jobs['location']=locations_list[0:10]
jobs

,title,company,experience_required,location
0,Data Scientist,Amity University,6-8 Yrs,"Faridabad, Delhi NCR, Ghaziabad"
1,Data Science Trainer - online,IIBM Institute of Business Management,1-6 Yrs,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H..."
2,Data Analyst,Extramarks Education India Pvt Ltd,2-3 Yrs,"Delhi NCR, Ghaziabad, Noida"
3,Data Analyst,Extramarks Education India Pvt Ltd,2-3 Yrs,"Delhi NCR, Ghaziabad, Noida"
4,Data Engineer,Unacademy,1-4 Yrs,"Bengaluru, Noida"
5,MIS Executive/Business Analyst,ApplyBoard,0-3 Yrs,Gurgaon
6,Senior Data Engineer,Chegg India Pvt Ltd,2-7 Yrs,Delhi
7,Data Analyst,Edunuts,2-5 Yrs,Delhi
8,Data Engineer,Splash M,2-4 Yrs,Gurgaon
9,Data Engineer,Snaphunt,2-5 Yrs,Delhi NCR

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [21]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.glassdoor.co.in/index.htm')
driver.get(url)

In [22]:
#searching the jobs for data analyst role in bangalore
search_job=driver.find_element_by_name("sc.keyword")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='sc.location']")
search_loc.send_keys('Noida')
search_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [23]:
#creating 3 empty lists
company_name=[]
days_posted=[]
rating=[]

In [24]:
#extracting all tags having company name
companies=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
#extracting text from these tags
for i in companies:
    company_name.append(i.text)

#extracting all tags having the details of no of days before posted 
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
#extracting text from these tags
for i in days:
    days_posted.append(i.text)

#extracting all tags having rating of the company
ratng=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
#extracting text from these tags
for i in ratng:
    rating.append(i.text)

In [25]:
#Now creating a dataframe
jobs=pd.DataFrame({})
jobs['company']=company_name[0:10]
jobs['days_posted']=days_posted[0:10]
jobs['rating']=rating[0:10]
jobs

                                  company days_posted rating
0                               BlackRock          1d    4.1
1                               BlackRock          1d    4.1
2                         abc consultants          6d    4.1
3                                   Adobe          8d    4.4
4                          Biz2Credit Inc         14d    3.7
5                                Brickred         25d    3.9
6                         Priority Vendor          6d    3.7
7                    Gauge Data Solutions          6d    3.1
8                         Healtheoz India          6d    4.8
9  Terra Economics & Analytics Lab (TEAL)          7d    4.9

###  Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [26]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.glassdoor.co.in/Salaries/index.htm')
driver.get(url)

In [27]:
#searching the jobs for data analyst role in bangalore
search_job=driver.find_element_by_name("sc.keyword")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_loc.send_keys('Noida')
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [28]:
#creating empty lists
company_name=[]
min_salary=[]
max_salary=[]
avg_salary=[]
rating=[]

In [29]:
#extracting all tags having company name
companies=driver.find_elements_by_xpath("//p[@class='m-0 ']")
#extracting text from these tags
for i in companies:
    company_name.append(i.text)

#extracting all tags having minimum salary
min_sal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__rangeBar undefined undefined ']/div[2]/span[1]")
#extracting text from these tags
for i in min_sal:
    min_salary.append(i.text)

#extracting all tags having maximum salary
max_sal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__rangeBar undefined undefined ']/div[2]/span[2]")
#extracting text from these tags
for i in max_sal:
    max_salary.append(i.text)

#extracting all tags having average salary
avg_sal=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong[1]")
#extracting text from these tags
for i in avg_sal:
    avg_salary.append(i.text)
    

#extracting all tags having rating of the company
ratng=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 '][1]")
#extracting text from these tags
for i in ratng:
    rating.append(i.text)

In [30]:
#Now creating a dataframe
jobs=pd.DataFrame({})
jobs['company']=company_name[0:10]
jobs['average_salary']=avg_salary[0:10]
jobs['minimium_salary']=min_salary[0:10]
jobs['maximum_salary']=max_salary[0:10]
jobs['rating']=rating[0:10]
jobs

,company,average_salary,minimium_salary,maximum_salary,rating
0,Delhivery,"₹ 12,64,182",₹450K,"₹11,630K",13 salaries
1,Ericsson-Worldwide,"₹ 7,30,968",₹350K,"₹1,614K",12 salaries
2,Tata Consultancy Services,"₹ 6,00,000",₹336K,"₹1,010K",11 salaries
3,Accenture,"₹ 9,94,055",₹577K,"₹2,215K",10 salaries
4,IBM,"₹ 7,39,040",₹587K,"₹2,732K",10 salaries
5,UnitedHealth Group,"₹ 13,37,114",₹717K,"₹1,575K",9 salaries
6,Valiance Solutions,"₹ 7,80,374",₹502K,"₹1,152K",8 salaries
7,Innovaccer,"₹ 11,98,792",₹621K,"₹1,696K",7 salaries
8,Cognizant Technology Solutions,"₹ 10,08,143",₹793K,"₹1,264K",6 salaries
9,EXL Service,"₹ 11,34,989",₹576K,"₹1,500K",6 salaries

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com.

In [31]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.flipkart.com/')
driver.get(url)

In [32]:
#searching the product in the webpage
search_product=driver.find_element_by_name("q")
search_product.send_keys("sunglasses")
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [33]:
#creating empty lists
Brand=[]
Product_description=[]
Price=[]
Discount=[]

In [34]:
#extracting brand name of the products
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#extracting text from these tags
for i in brand:
    Brand.append(i.text)
    
#extracting product description
description=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
#extracting text from these tags
for i in description:
    Product_description.append(i.text)
    
#extracting price details of the product
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#exracting text from these tags
for i in price:
    Price.append(i.text)
    
#extracting discount details of the product
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#extracting text from these tags
for i in discount:
    Discount.append(i.text)
        
#navigating to next page
next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_page.click()

In [35]:
#extracting brand name of the products
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#extracting text from these tags
for i in brand:
    Brand.append(i.text)
    
#extracting product description
description=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
#extracting text from these tags
for i in description:
    Product_description.append(i.text)
    
#extracting price details of the product
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#exracting text from these tags
for i in price:
    Price.append(i.text)
    
#extracting discount details of the product
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#extracting text from these tags
for i in discount:
    Discount.append(i.text)
        
#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [36]:
#extracting brand name of the products
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#extracting text from these tags
for i in brand[0:20]:
    Brand.append(i.text)
    
#extracting product description
description=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
#extracting text from these tags
for i in description[0:20]:
    Product_description.append(i.text)
    
#extracting price details of the product
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#exracting text from these tags
for i in price[0:20]:
    Price.append(i.text)
    
#extracting discount details of the product
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#extracting text from these tags
for i in discount[0:20]:
    Discount.append(i.text)

In [37]:
#Now creating a dataframe
sunglasses=pd.DataFrame({})
sunglasses['Brand']=Brand
sunglasses['Product_description']=Product_description
sunglasses['Price']=Price
sunglasses['Discount']=Discount
sunglasses

,Brand,Product_description,Price,Discount
0,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
1,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
3,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹599,33% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
...,...,...,...,...
95,FDA COLLECTION,"Gradient, UV Protection Round, Round Sunglasse...",₹161,83% off
96,NuVew,"UV Protection, Night Vision, Riding Glasses Sp...",₹198,79% off
97,Phenomenal,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
98,Irayz,UV Protection Over-sized Sunglasses (Free Size),₹279,78% off
99,Criba,"UV Protection Round, Aviator Sunglasses (58)",₹175,64% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [67]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
driver.get(url)

In [68]:
#creating empty lists
Rating=[]
Review_Summary=[]
Full_Review=[]

In [69]:
#navigating to the ratings and review page
btn=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
btn.click()

In [70]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)
    
#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)
    
#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)
    
#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[11]")
next_page.click()

In [71]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='row']/div[@class='_3LWZlK _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)

#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)

#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)

#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [72]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)

#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)

#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)

#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [73]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)

#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)

#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)

#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [74]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)

#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)

#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)

#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [75]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)

#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)

#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)

#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [76]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)

#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)

#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)

#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [77]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)

#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)

#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)

#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [78]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)

#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)

#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)

#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [79]:
#extracting the ratings of the product
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#extracting text from these tags
for i in rating:
    Rating.append(i.text)

#extracting review summary of the product
rev_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#extracting text from these tags
for i in rev_summ:
    Review_Summary.append(i.text)

#extracting full review of the  product
full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
#exracting text from these tags
for i in full_rev:
    Full_Review.append(i.text)

#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [80]:
#Now creating a dataframe
iphone11_review=pd.DataFrame({})
iphone11_review['Rating']=Rating
iphone11_review['Review_Summary']=Review_Summary
iphone11_review['Full_Review']=Full_Review
iphone11_review

,Rating,Review_Summary,Full_Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,4,Delightful,Nice camera for front and back.. The display i...
96,5,Fabulous!,Best phone in this price segment people say th...
97,5,Terrific,I got this beast today. And I must say the pic...
98,5,Excellent,"Got mobile @56,990 on 8 oct 2020 when all othe..."
99,5,Terrific,Have used both iPhone X and iPhone XR and I ca...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field

In [81]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.flipkart.com/')
driver.get(url)

In [82]:
#searching the product in the webpage
search_product=driver.find_element_by_name("q")
search_product.send_keys("sneakers")
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [83]:
#creating empty lists
Brand=[]
Product_description=[]
Price=[]
Discount=[]

In [84]:
#extracting brand name of the products
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#extracting text from these tags
for i in brand:
    Brand.append(i.text)
    
#extracting product description
description=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
#extracting text from these tags
for i in description:
    Product_description.append(i.text)
    
#extracting price details of the product
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#exracting text from these tags
for i in price:
    Price.append(i.text)
    
#extracting discount details of the product
discount=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[3]")
#extracting text from these tags
for i in discount:
    if discount is not None:
        Discount.append(i.text)
    else:
        Discount.append('0 %')
#navigating to next page
next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_page.click()

In [85]:
#extracting brand name of the products
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#extracting text from these tags
for i in brand:
    Brand.append(i.text)
    
#extracting product description
description=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
#extracting text from these tags
for i in description:
    Product_description.append(i.text)
    
#extracting price details of the product
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#exracting text from these tags
for i in price:
    Price.append(i.text)
    
#extracting discount details of the product
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#extracting text from these tags
for i in discount:
    Discount.append(i.text)
        
#navigating to next page
next_page=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
next_page.click()

In [86]:
#extracting brand name of the products
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#extracting text from these tags
for i in brand[0:20]:
    Brand.append(i.text)
    
#extracting product description
description=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
#extracting text from these tags
for i in description[0:20]:
    Product_description.append(i.text)
    
#extracting price details of the product
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#exracting text from these tags
for i in price[0:20]:
    Price.append(i.text)
    
#extracting discount details of the product
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#extracting text from these tags
for i in discount[0:20]:
    Discount.append(i.text)

In [87]:
#Now creating a dataframe
sneakers=pd.DataFrame({})
sneakers['Brand']=Brand
sneakers['Product_description']=Product_description
sneakers['Price']=Price
sneakers['Discount']=Discount
sneakers

,Brand,Product_description,Price,Discount
0,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
1,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
2,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹474,76% off
3,Oricum,Combo pack of 2 casual sneaker shoes for men S...,₹398,60% off
4,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹349,65% off
...,...,...,...,...
95,URBANBOX,STYLISH-WHITE-6 Sneakers For Men,₹199,60% off
96,Oricum,ORIFWSH(OR)-1077 Sneakers For Men,₹214,57% off
97,luxury fashion,Luxury sneaker shoes Sneakers For Men,₹499,83% off
98,seekort,Sneakers For Men,₹284,71% off
99,Bonexy,Sneakers For Men,₹399,60% off

### Q9: Scrape First 100 shoes from myntra

In [88]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.myntra.com/shoes')
driver.get(url)

In [89]:
#applying filter for price
btn=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]")
btn.click()

In [90]:
#applying filter for color
btn1=driver.find_element_by_xpath("//li[@class='colour-listItem']/label[1]")
btn1.click()

In [91]:
#creating empty lists
Brand=[]
Description=[]
Price=[]

In [92]:
#extracting brand name of the products
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
#extracting text from these tags
for i in brand:
    Brand.append(i.text)
    
#extracting product description
description=driver.find_elements_by_xpath("//h4[@class='product-product']")
#extracting text from these tags
for i in description:
    Description.append(i.text)
    
#extracting price details of the product
price=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
#exracting text from these tags
for i in price:
    Price.append(i.text)
    
#navigating to next page
next_page=driver.find_element_by_xpath("//li[@class='pagination-next']/a[1]")
next_page.click()

In [93]:
#second page
#extracting brand name of the products
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
#extracting text from these tags
for i in brand:
    Brand.append(i.text)
    
#extracting product description
description=driver.find_elements_by_xpath("//h4[@class='product-product']")
#extracting text from these tags
for i in description:
    Description.append(i.text)
    
#extracting price details of the product
price=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
#exracting text from these tags
for i in price:
    Price.append(i.text)

In [94]:
#Now creating a dataframe
shoes=pd.DataFrame({})
shoes['Brand']=Brand
shoes['Description']=Description
sneakers['Price']=Price
sneakers

,Brand,Product_description,Price,Discount
0,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,Rs. 6599Rs. 10999,76% off
1,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,Rs. 8799Rs. 10999,60% off
2,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,Rs. 9793Rs. 13990,76% off
3,Oricum,Combo pack of 2 casual sneaker shoes for men S...,Rs. 11199Rs. 13999,60% off
4,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,Rs. 9999Rs. 19999,65% off
...,...,...,...,...
95,URBANBOX,STYLISH-WHITE-6 Sneakers For Men,Rs. 6839Rs. 7599,60% off
96,Oricum,ORIFWSH(OR)-1077 Sneakers For Men,Rs. 8999,57% off
97,luxury fashion,Luxury sneaker shoes Sneakers For Men,Rs. 6799Rs. 7999,83% off
98,seekort,Sneakers For Men,Rs. 9999,71% off
99,Bonexy,Sneakers For Men,Rs. 6990,60% off

### Q10: Scrape first 10 laptops data from amazon

In [98]:
#first connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=('https://www.amazon.in/')
driver.get(url)

In [99]:
#searching the product in the webpage
search_product=driver.find_element_by_id("twotabsearchtextbox")
search_product.send_keys("Laptop")
search_btn=driver.find_element_by_xpath("//span[@class='nav-search-submit-text nav-sprite nav-progressive-attribute']")
search_btn.click()

In [100]:
#applying filter for cpu type i7
btn=driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[16]/span[1]")
btn.click()

In [101]:
#applying filter for cpu type i9
btn1=driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[18]/span[1]")
btn1.click()

In [102]:
#creating empty lists
Title=[]
Rating=[]
Price=[]

In [103]:
#extracting the title names
title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
#extracting text from these tags
for i in title[:10]:
    Title.append(i.text)
    
#extracting the rating
soup= BeautifulSoup(driver.page_source, 'html.parser')
for d in soup.find_all('div',attrs={'class':'sg-col-4-of-12 sg-col-8-of-16 sg-col-12-of-20 sg-col'}):
    rating=d.find('span', attrs={'class':'a-icon-alt'})
    if rating is not None:
        Rating.append(rating.text)
    else:
        Rating.append('not_rated')
#slicing the rating because each value is obtained twice
Rating=Rating[1:20:2]
    
#extracting price details of the product
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
#exracting text from these tags
for i in price[:10]:
    Price.append(i.text)

In [104]:
#Now creating a dataframe
laptops=pd.DataFrame({})
laptops['Title']=Title
laptops['Rating']=Rating
laptops['Price']=Price
laptops

,Title,Rating,Price
0,"Lenovo Yoga S940 Intel Core i7 10th Gen 14"" UH...",3.3 out of 5 stars,"1,19,990"
1,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"50,999"
2,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,5.0 out of 5 stars,"2,68,325"
3,Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...,3.3 out of 5 stars,"1,09,990"
4,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,3.5 out of 5 stars,"74,990"
5,Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...,3.8 out of 5 stars,"76,990"
6,Dell G3 3500 Gaming 15.6inch 120hz FHD Display...,4.0 out of 5 stars,"82,490"
7,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,4.0 out of 5 stars,"75,482"
8,Lenovo Legion 5i 10th Gen Intel Core i7 15.6 i...,4.2 out of 5 stars,"88,990"
9,HP 14 10th Gen Intel Core i7 Ultra Thin and Li...,3.4 out of 5 stars,"72,800"

## END OF THE NOTEBOOK FILE.